<a href="https://colab.research.google.com/github/tozakichen/kkk/blob/main/1_Python_%E7%9A%84%E8%B3%87%E6%96%99%E5%9E%8B%E5%88%A5%E8%88%87%E7%B5%90%E6%A7%8B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 自我介紹及課程說明

### 聯絡方式
#### 姓名：温淑梅
#### EMAIL：tvomtvom@gmail.com

### 分組作業說明
#### 請同學於4/15之前完成分組，分組名單請上傳至[分組問卷](https://forms.gle/Fu3dKXKhiLn5RGqX8)中
#### 每組1~8人，如果有外系或學長姐找不到其他組員可以反應在分組名單問卷上，預計將於4/25上課時再協助你們合併組別。

### 課程內容規劃
#### 1.Python入門
- 資料型別與資料結構
- 條件判斷式
- 迴圈

#### 2.資料分析常用套件----pandas、numpy
- 什麼是Series？什麼是DataFrame？
- 如何匯入及匯出資料集
- 資料預處理
- 資料篩選
- 資料集合併
- 資料分組
- 計算統計量

#### 3.統計圖表繪製----matplotlib
- 類別資料（如長條圖、圓餅圖等）
- 連續資料（如直方圖、折線圖、散佈圖、盒鬚圖等）

#### 4.如何將程式上傳Github

## Python小細節
#### python變數的命名規則
1. python變數首字只能是```_```或英文，不能是數字；第2個字之後可以是```_```、英文及數字。
2. python中的關鍵字，不要當作變數名稱，不然會讓該關鍵字原本功能喪失
3. python中的英文大小寫是不一樣的

#### 其他常用指令及符號
1. 要確認執行結果，可以用```print()```
2. python程式中的```#```是註解的意思，即在執行時不會執行```#```後方的字
3. ```\n```代表強制換行的指令
4. 指令中如果是關鍵字、變數名稱通常不加引號，如果有加引號，則多為字串型態的資料。
5. 如果要由鍵盤將資料新增到資料中，會用到的指令是```input("顯示在螢幕上的提示文字")```

# Python 的資料型別與結構

## 基本資料型別
* int(數值)：整數數值，例如409。
* float(浮點數)：帶有小數點的數字，例如：3.14。
* str(字串)：用單引號或雙引號括起來的文字，例如："LM409"、'3.14'。

* bool(布林值)：True 和 False

### 常用語法
* 型別類型：type()
* 跟型別運算：3*5、"3"*5、"3"/5、"3"+5、"3"-5，分別的結果是?
* 型別轉換：int()、float()、str()

In [ ]:
int("3"+str(5))+5

40

In [ ]:
"3"-5

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [ ]:
3*"5"

'555'

In [ ]:
"3"/5

TypeError: unsupported operand type(s) for /: 'str' and 'int'

## 資料結構

### tuple(數組)
- tuple使用( )表示，不同的值用逗號分隔。

```
變數名稱=(值1, 值2, ...)       ##建立一個新的tuple
變數名稱=()                    ##建立一個空白的tuple
tuple變數名稱 += (值1, 值2, ...)   ##新增tuple的元素(只能往後增加，不能修改其他元素及位置)
```

##### 建立一個新的tuple
```變數名稱=(值1, 值2, ...)```

In [ ]:
tuple1=(1,2,3,"a")
print("tuple1=",tuple1)

tuple1= (1, 2, 3, 'a')

##### 建立一個空白的tuple
```變數名稱=()```

In [ ]:
tuple2=()
print("tuple2=",tuple2)

tuple2= ()

##### 新增tuple的元素(只能往後增加，不能修改其他元素及位置)
```tuple變數名稱 += (值1, 值2, ...) ```

In [ ]:
tuple3=(tuple1,tuple2)
print(tuple3)

tuple1+=(7,8)
print("tuple1=\n",tuple1,"\n",tuple2)

((1, 2, 3, 'a'), ())
tuple1=
 (1, 2, 3, 'a', 7, 8)
 ()

In [ ]:
tuple4=tuple1+("10",11)
print(tuple4)

(1, 2, 3, 'a', 7, 8, '10', 11)

### set(集合)
- set用{ }表示，不同的值用逗號分隔。
- set的內容元素都必須是獨一無二的。
- set的空集合設定方式不是用{}表示，因為這個符號用法會被套用在dict字典結構。

##### 建立一個新的set
```
變數名稱={值1, 值2, ...}
```

In [ ]:
set1={1,2,5,"a"}
print("set1=",set1)
set2={1,2,2,3}
print("set2=",set2)

set1= {1, 2, 'a', 5}
set2= {1, 2, 3}

#### 建立一個空set
```
變數名稱=set()
```

In [ ]:
set3=set()
print("set3=",set3)

set3= set()

#### 新增(add) / 刪除(remove)一個值到set內
```
set變數名稱.add(值)
set變數名稱.remove(值)
```

In [ ]:
set2.add(4)
set1.remove(5)
print(set2)
print(set1)

{1, 2, 3, 4}
{1, 2, 'a'}

#### 計算set中的描述性統計

```
len(set變數名稱)  ##計算set的長度
sum(set變數名稱)  ##計算set的總和
max(set變數名稱)  ##計算set的最大值
min(set變數名稱)  ##計算set的最小值
```

In [ ]:
print(len(set1))
print(len(set2))

3
4

In [ ]:
print(sum(set1))
print(sum(set2))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
print(max(set2))
print(min(set2))

4
1

#### 集合計算

###### 聯集

```
setA.union(setB) #寫法一             
setA | setB  #寫法二
```

###### 交集
```
setA.intersection(setB)  #寫法一
setA & setB       #寫法二
```

###### 差集
（去除A中同時也屬於B的部份）
```
setA.difference(setB)  #寫法一
setA - setB      #寫法二

```

###### 交集的餘集
```
setA.symmetric_difference(setB)   #寫法一
setA ^ setB            #寫法二
```

In [ ]:
print(set1)
print(set2)
print(set1.intersection(set2))
print(set1.union(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

{1, 2, 'a'}
{1, 2, 3, 4}
{1, 2}
{1, 2, 3, 4, 'a'}
{'a'}
{3, 4, 'a'}

In [ ]:
print(set1 | set2)

{1, 2, 3, 4, 'a'}

### list(串列)
- List用中括號[ ]表示，不同的值用逗號分隔。

#### 建立一個新的list
```
變數名稱=[值1, 值2, ...]
```

In [ ]:
list1=[1,2]
list2=[3,4]
list1=list1+list2
print(list1)

[1, 2, 3, 4]

In [ ]:
list3=["B",5,8,["A",1,5]]
print("list3=",list3)
list4=[list1,tuple1]
print("list4=",list4)

list3= ['B', 5, 8, ['A', 1, 5]]
list4= [[1, 2, 3, 4], (1, 2, 3, 'a', 7, 8)]

##### 建立一個空list
```
變數名稱=[]    
```

In [ ]:
list1_2=list()
print(type(list1_2))

<class 'list'>

#### 取值
- python的容器索引從0開始，取最後一個值的索引值可以用-1。
```
list變數名稱[index] #只取一個已知位置的值
list變數名稱[start:end:range]  #取一個或多個值。start(開始位置)預設為0，end(最後一個值的後一位)預設為總個數+1(即不含end)，range(間隔位置)預設為1

```

In [ ]:
print(list1[3])
print(list3[-1])
print(list3[-1][0])
list5=[1,2,3,4,5,6,7,8,9,10]
print(list5[0:5:2])

4
['A', 1, 5]
A
[1, 3, 5]

#### 新增元素
```
list變數名稱.append(值)        ##新增一個元素
list變數名稱 += [值1, 值2, ...]  ##新增一個或多個元素  
```

In [ ]:
list1.append(["B",1,8])
print("list1_新增元素=",list1)
list1+=["a","5",1]
print("list1_新增元素=",list1)

list1_新增元素= [3, 4, ['B', 1, 8], 'a', '5', ['B', 1, 8]]
list1_新增元素= [3, 4, ['B', 1, 8], 'a', '5', ['B', 1, 8], 'a', '5', 1]

#### 刪除元素
```
list變數名稱.remove(值)   ##刪除list某個特定元素
del list[index]      ##刪除多個元素，index可寫多個，用,(逗號)隔開。
```

In [ ]:
list6=list1.copy()
print(list6)
list6.remove(1)
print("list6_刪除元素(remove)=",list6)
print("list1=",list1)

[3, 4, ['B', 1, 8], 'a', '5', ['B', 1, 8], 'a', '5', 1]
list6_刪除元素(remove)= [3, 4, ['B', 1, 8], 'a', '5', ['B', 1, 8], 'a', '5']
list1= [3, 4, ['B', 1, 8], 'a', '5', ['B', 1, 8], 'a', '5', 1]

In [ ]:
list7=list1
del list7[1:5]
print("list7_刪除元素(del)=",list7)
print("list1=",list1)

list7_刪除元素(del)= [3, ['B', 1, 8], 'a', '5', 1]
list1= [3, ['B', 1, 8], 'a', '5', 1]

#### 計算資料筆數
```
len(list名稱)
```

In [ ]:
list6=[1,3,5,6,2,8,4,7,3]
print(len(list6))

9

#### 排序
```
sorted(list名稱)
list名稱.sort()
```
##### 兩者差異說明
 1. sorted()：不會改變原本的list，只會回傳由小到大排序後的結果(新增另一個list)
 2. list名稱.sort()會影響原本的list內容(將排序後的結果存於原本的list內，永久改變原list的內容。)

In [ ]:
print("sorted：",sorted(list6))
print(list6)

sorted： [1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 3, 5, 6, 2, 8, 4, 7, 3]

In [ ]:
list6.sort()
print("list.sort()：", list6)

list.sort()： [1, 2, 3, 3, 4, 5, 6, 7, 8]

#### 計數及檢索位置
```
list名稱.count(x)  #統計某特定值(x)出現的次數
list名稱.index(x)  #尋找某特定值的最早出現索引位置：
```

In [ ]:
n=3
print("count()：",list6.count(n))
print(list6)
print("index()：",list6.index(n))

count()： 2
[1, 2, 3, 3, 4, 5, 6, 7, 8]
index()： 2

#### 分割字串成list元素

##### 指定某個特定符號（或字串）進行分割
```
字串.split(分割符號, 分割次數)  #其中分割字元若沒指定，則預設為空格；分割次數若不指定，為分割整個字串。
```

In [ ]:
text="Python_Jupyter notebook"
text.split()

['Python_Jupyter', 'notebook']

In [ ]:
text.split("o")

['Pyth', 'n_Jupyter n', 'teb', '', 'k']

##### 多個分割符號
- 用re模組內的re.split()
 ```
 import re
 list變數=re.split('[分割符號1分割符號2]',字串)   ##多個分割符號不用隔開
 ```

In [ ]:
import re
text1=re.split('[_ ]',text)
print(text1)

['Python', 'Jupyter', 'notebook']

### dict(字典)
- key:value的型式。

#### 建立新的dict
```
變數名稱={key1:value1, key2:value2, ...}
```

In [ ]:
dict1={"瑞士":"伯恩","日本":"東京","美國":"華盛頓特區"}
print("dict1=",dict1)

dict1= {'瑞士': '伯恩', '日本': '東京', '美國': '華盛頓特區'}

#### 取值(key前後要加引號)
```
dict變數名稱[key]                          
```

In [ ]:
print(dict1["日本"])

東京

#### 新增值（要同時有key:value）
```
dict變數名稱[NEW key]=new values  ##新增一組
dict變數名稱.update({key1:value1, key2:value2, ...}) ##新增多組
```

In [ ]:
dict1["越南"]="河內"
print("dict1(新增)_越南=",dict1)

dict1(新增)_越南= {'瑞士': '伯恩', '美國': '華盛頓特區', '英國': '倫敦', '法國': '巴黎', '越南': '河內'}

In [ ]:
dict1.update({"英國":"倫敦","法國":"巴黎"})
print("dict1(新增)_英國及法國=",dict1)

dict1(新增)_英國及法國= {'瑞士': '伯恩', '日本': '東京', '美國': '華盛頓特區', '越南': '河內', '英國': '倫敦', '法國': '巴黎'}

#### 刪除值（一次只能刪一筆）
```
del dict變數名稱[key]
dict變數名稱.pop(key)
```

In [ ]:
del dict1["日本"]
print("dict1(刪除)_日本=",dict1)

dict1(刪除)_日本= {'瑞士': '伯恩', '美國': '華盛頓特區', '越南': '河內', '英國': '倫敦', '法國': '巴黎'}

In [ ]:
dict1.pop("越南")
print("dict1(刪除)_越南=",dict1)

dict1(刪除)_越南= {'瑞士': '伯恩', '美國': '華盛頓特區', '英國': '倫敦', '法國': '巴黎'}

# 條件判斷式

## 比較運算符
* ==       等於
* !=       不等於
* ```>```        大於
* <        小於
* ```>=```       大於等於
* <=       小於等於
* in list     資料存在list中

In [ ]:
print(1 == 2)
print(1 != 2)
print("a" in [1,2,3,"a"])
print("a" in [1,2,["a"]])

False
True
True
False

## if 敘述句
```
if 條件判斷式:
    程式區塊
```

In [ ]:
num1=int(input("請輸入0~100的數字:"))
if num1>=60:
    print("及格")

請輸入0~100的數字:50

## if...else...敘述句
```
if 條件判斷式:
    程式區塊
else:
    程式區塊
```

In [ ]:
print("請輸入0~100的數字:")
num1=int(input())
if num1>=60:
    print("及格")
else:
    print("不及格")

請輸入0~100的數字:
50
不及格

## if...elif...else...敘述句
```
if 條件判斷式1:
    程式區塊
elif 條件判斷式2:
    程式區塊
elif 條件判斷式3:
    程式區塊
else:
    程式區塊
```

In [ ]:
print("請輸入0~100的數字:")
num1=int(input())
if num1>=90:
    print("很棒")
elif num1>=60:
    print("及格")
elif num1<50:
    print("太差了，請加油")
else:
    print("不及格")

請輸入0~100的數字:
95
很棒
及格

# 迴圈

## for 迴圈

   #### 1.基本for迴圈
   ```
   for 變數 in 容器:
      程式區塊
   ```

In [ ]:
animal_list=["dog","cat","monkey","bird","elephant"]
i=0
for animal in animal_list:
  i+=1
  print(i,"是",animal)

1 是 dog
2 是 cat
3 是 monkey
4 是 bird
5 是 elephant

   #### 2.搭配二維list
   ```
   for 變數 in 二維list:
      程式區塊
   ```

In [ ]:
fruits=[["apple","red"],["banana","yellow"],["lemon","green"]]
for fruit in fruits:      ## 第一層for迴圈
    for item in fruit:    ## 第二層for迴圈
        print(item)

apple
red
banana
yellow
lemon
green

   #### 3.搭配range
   ```
   for 索引 in range(N):   ##N代表list的長度
      程式區塊
      
   ```

In [ ]:
for i in range(0,len(animal_list),2):
    print ("item", i+1, "=", animal_list[i])
    #print(i)

item 1 = dog
item 3 = monkey
item 5 = elephant

In [ ]:
len(animal_list)

5

## while 迴圈

   #### 1.基本while迴圈
   ```
   while 條件判斷式:
      程式區塊
   ```

In [ ]:
len(animal_list)

5

In [ ]:
n = 0
while n < 5:
    print(n)
    n+=1

0
1
2
3
4

   #### 2.使用break
   - 脫離while迴圈
   ```
   while 條件判斷式:
      程式區塊
      if 條件判斷式:
         break
   ```

In [ ]:
n=0
while True:
    print(n)
    n+=1
    if n>= 5:
        break

0
1
2
3
4

   #### 3.使用continue
   - 跳過後面的程式區，回到下一圈的while 判斷式
   ```
   while 條件判斷式:
      程式區塊
      if 條件判斷式:
         continue
         
      要跳過的程式區塊
   ```

In [ ]:
n=1
while n<10:
    n+=1
    if n % 3 == 0:
        continue
    print(n)

2
4
5
7
8
10